[submodule "welaser/welaser-datamodels"]
	path = welaser/welaser-datamodels
	url = git@github.com:w4bo/welaser-datamodels.git
[submodule "welaser/service-mapbuilder"]
	path = welaser/service-mapbuilder
	url = git@github.com:luisemmi/service-mapbuilder.git
[submodule "welaser/service-missionplanner"]
	path = welaser/service-missionplanner
	url = git@github.com:luisemmi/service-missionplanner.git
[submodule "welaser/service-missionsupervisor"]
	path = welaser/service-missionsupervisor
	url = git@github.com:luisemmi/service-missionsupervisor.git
