name: "Build"
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 11
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Launch and test
        run: |
          cd dataplatform-core
          chmod +x *.sh
          chmod +x scripts/*.sh
          chmod +x kafka2mongo/gradlew
          chmod +x persistImages/gradlew
          for i in $(seq 1)
          do
            echo "Run $i"
            scripts/config.sh
            ./launch.sh -t
            ./stop.sh
          done
      - name: Set up a swarm with a single node and create the docker network
        run: |
          docker swarm init
          docker network create --driver overlay BIG-dataplatform-network
      - name: Check the deploy of the swarm
        run: |
          cd dataplatform-core
          docker stack deploy --compose-file docker-stack.yml FIWARE-ext
  release:
    needs:
      - build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Install Node
        uses: actions/setup-node@v4.2.0
        with:
          node-version-file: package.json
      - name: Release
        run: |
          npm install
          npx semantic-release --branches main
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Log in to Docker Hub
        uses: docker/login-action@327cd5a69de6c009b9ce71bce8395f28e651bf99
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Retrieve version
        id: tag  
        run: echo "version=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
      - name: Extract metadata (tags, labels) for fiware2kafka
        id: meta1
        uses: docker/metadata-action@8e1d5461f02b7886d3c1a774bfbd873650445aa2
        with:
          images: w4bo/fiware2kafka
          tags: |
            ${{steps.tag.outputs.version}}
            latest
      - name: Build and push fiware2kafka image
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991
        with:
          context: ./dataplatform-core/fiware2kafka
          # file: ./Dockerfile
          push: true
          tags: ${{ steps.meta1.outputs.tags }}
          labels: ${{ steps.meta1.outputs.labels }}
      - name: Extract metadata (tags, labels) for kafka2mongo
        id: meta2
        uses: docker/metadata-action@8e1d5461f02b7886d3c1a774bfbd873650445aa2
        with:
          images: w4bo/kafka2mongo
          tags: |
            ${{steps.tag.outputs.version}}
            latest
      - name: Build and push kafka2mongo image
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991
        with:
          context: ./dataplatform-core/
          file: ./dataplatform-core/kafka2mongo/Dockerfile
          push: true
          tags: ${{ steps.meta2.outputs.tags }}
          labels: ${{ steps.meta2.outputs.labels }}
      - name: Extract metadata (tags, labels) for persist-images
        id: meta3
        uses: docker/metadata-action@906ecf0fc0a80f9110f79d9e6c04b1080f4a2621
        with:
          images: w4bo/persist-images
          tags: |
            ${{steps.tag.outputs.version}}
            latest
      - name: Build and push persist-images image
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991
        with:
          context: ./dataplatform-core/
          file: ./dataplatform-core/persistImages/Dockerfile
          push: true
          tags: ${{ steps.meta3.outputs.tags }}
          labels: ${{ steps.meta3.outputs.labels }}
